streamlit
spacy
langchain
openai
pandas
pygwalker
numpy
st_pages
scikit-learn
streamlit_option_menu
python-dotenv
gTTS
Discord-py
requests
datetime
pytest-shutil
db-sqlite3
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
